.register{
    width: auto;
    background-color: #FF6196 !important;
    font-family: "Arial" !important;
    font-size:1rem;
    color: #ffffff;
}

.modal-header {
    border-bottom: 1px dashed rgb(197, 192, 192) !important;
}

.labels{
    font-family: "Arial" !important;
    font-size: 13px;
    color: #6a6c71 !important;
    font-weight:normal;
    margin-bottom:1px;

}

.date-input{
    height: 36px !important;
    width:135px;
    border:solid 1px #babdc5;
    border-radius:3px;   
}

.date-input:focus{
    border:2px solid rgb(40, 148, 221);
}

.close-button{
    color: #f71100;
}

.modal-footer {
    border-top: 1px dashed rgb(197, 192, 192) !important;
    display: flex;
    justify-content: space-between;
}

.submit-button{
    background-color: #FF6196 !important;
    border-radius: 3px !important;
    border:none;
    font-size:1rem;
    font-family: "Arial" !important;
    height: 35px;
    padding-left: 20px;
    padding-right:20px;
    color:white;
}

.main-training-box{
    /* position: fixed; */
    z-index: 1;
    width: 78.3vw;
    color: #19105B;
    background-color: white;
    
}

.main-training-box h1{
    font-weight: bolder !important;

}