body {
    font-size: 12px !important;
    font-family: "Arial" !important;
}

.trainingBox::-webkit-scrollbar{
    width: 0px;
}

.heading{
    font-size: 25px !important;
    font-weight: bold;
    color: #19105B;
    font-family: Arial, Helvetica, sans-serif; 
}

.heading{
    font-size: 25px !important;
    font-weight: bold;
    color: #7c3375;
    font-family: Arial, Helvetica, sans-serif; 
}